html {
  overflow-x: hidden;
}
body {
  background-color: var(--color-background);
  overflow-x: hidden;
  position: relative;
}
#main {
  position: relative;
  margin: 0 var(--spacing-6);
  width: calc(100% - calc(var(--spacing-6) * 2));
}