body {
  background-color: var(--color-sand);
  color: var(--color-dark-primary);
  font: var(--font-p-large);
}
p, .p1 {
  font: var(--font-p-large);
}
.p2 {
  font: var(--font-p);
}
.p3 {
  font: var(--font-p-small);
}
.p4 {
  font: var(--font-p-xsmall);
}
h1, .h1 {
  font: var(--font-h1);
  margin-top: 0px;
}
h2, .h2 {
  font: var(--font-h2);
  margin: var(--spacing-3) 0;
}
h3, .h3 {
  font: var(--font-h3);
  margin: 0; 
}
h4, .h4 {
  font: var(--font-h4);
  margin: 0; 
}